@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Hachi Maru Pop', cursive;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 90vw;
    gap: 10px;
}

.panel{
    background: url("https://parade.com/.image/t_share/MTkwNTgxMjkxNjk3NDQ4ODI4/marveldisney.jpg") center/cover;
    height: 50vh;
    flex:0.5;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-out;

}

.panel h1{
    position: absolute;
    bottom: 5px;
    left: 5px;
    opacity: 0;
    transform: translateX(-20px);
}

.panel.active{
    flex:5;
}

.panel.active h1{
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
}


@media (max-width: 768px){
    .panel:nth-last-of-type(5){display: none;}
    .panel:nth-last-of-type(4){display: none;}
}

